.prices {
  color: white;

  &__ {

    &design{
      margin-top: 68px;
      display: flex;
      row-gap: 45px;

      flex-direction: column;
      align-items: center;
      max-height: 665px;
      overflow-y: scroll;
      padding: 5px 0 50px;
    }
    &row{
      width: 100%;
      display: flex;
      gap: 35px;
      margin-bottom: 45px;
    }

    &card {
      display: flex;
      background-color: #FB1B3D;
      padding: 27px 45px;
      max-width: 408px;
      width: 40%;

      &-info{
        width: 50%;
        &-title{
          margin-bottom: 20px;
          font-family: 'Montserrat',sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 108.5%;
          letter-spacing: 0.13em;
          text-transform: uppercase;
        }
        &-text{
          margin-bottom: 40px;
          font-family: 'Montserrat',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 169%;
          letter-spacing: 0.105em;
          font-feature-settings: 'case' on;
          &:hover{
            color: gainsboro;
          }
        }
        &-price{
          font-family: 'Montserrat',sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 108.5%;
          letter-spacing: 0.13em;
          text-transform: uppercase;
        }
      }
      &-text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 108.5%;
        //letter-spacing: 0.13em;
        text-transform: uppercase;
        width: 58%;
        max-width: 176px;

      }

      &-btn {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        width: 100px;
        height: 100px;
        padding: 0 15px;
        text-align: left;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 108.5%;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        color: #000000;
      }

    }


  }
}