.works {
  color: white;
  margin-top: 33px;
  .swiper-pagination-bullet {
    margin: 120px 0 0;
    //padding: 1px 10px;
    border-radius: 0!important;
    width: 40px!important;
    height: 5px!important;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color:#000;
    opacity: 1!important;
    background: #FFFFFF!important;
  }
  .swiper-pagination-bullet-active{
    color:red;
    background: red!important;
  }
  &:before{
    content: '';
    height: 100vh;
    width: .5px;
    background: #FFFFFF;
    top: 0;
    bottom: 0;
    left: 5%;
    z-index: 10;
    //top: -31%;
    //bottom: 0;
    //left: -4%;
    position: fixed;
  }
}
.portfolio{
  padding-top: 30px;
  display: flex;
  position: relative;
  //&:before{
  //  content: '';
  //  height: 100vh;
  //  width: .5px;
  //  background: #FFFFFF;
  //  //top: -10%;
  //  //bottom: 0;
  //  //left: 150%;
  //  top: -31%;
  //  bottom: 0;
  //  left: -4%;
  //  position: absolute;
  //}

  &__{

    &sideText{
      font-family: 'Body Grotesque',sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 108.5%;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      margin-left: -30px;
      //margin: auto 10px 0 -30px ;

    }
    &wrapper{
    }
    &slider{}
    &slide{

      color: white;
      width: 80%;
      margin: 0 auto;
      position: relative;
      &-works{
        height: 100%;
        max-height: 800px;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        padding-bottom: 30px;
      }
      &-brands{
        z-index: 121;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-height: 633px;
        overflow-y: scroll;
        padding: 50px 0 510px;
        gap: 60px;
        &_image{
          width: calc(30.333% - 40px);
          &-resize{
            margin:  -80px 0;
          }
        }
      }
      &-title{
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 167.5%;
        letter-spacing: 0.13em;
        text-transform: uppercase;
      }
      &-text{
        color: white;
        position: fixed;
        bottom: 0;
        left: 140px;
        font-family: 'Body Grotesque',sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        line-height: 108.5%;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
      }
      &-down{
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        position: absolute;
        bottom: 120px;
        right: -200px;
        font-family: 'Montserrat',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 132.4%;
        &:after{
          content: '';
          width: 1px;
          height: 70px;
          background-color: #fff;
          position: absolute;
          transform: translate(-100%, -50%);
          bottom: 100px;
          left: 50%;
        }
      }
    }




  }
}
