@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar-thumb {
  background: #FB1B3D;
  //border-radius: 50%;
  width: 20px;
  height: 10px;
}
::-webkit-scrollbar{
  background: white;
  width: 2px;
}
//::-webkit-scrollbar-thumb{
//  background: #FB1B3D;
//  height: 10px;
//}

.container{
  max-width: 100%;
  width: 1612px;
  padding: 0 15px;
  margin: 0 auto;
}
.customScroll{
}

.aside-text{
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
  font-family: 'Body Grotesque',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 108.5%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  &-info{
    bottom: -200px;
  }
  //&:before{
  //  content: '';
  //  height: .5px;
  //  width: 100vw;
  //  background: #FFFFFF;
  //  top: -32px;
  //  left: -100%;
  //  position: absolute;
  //}
}
.circleBtn{
  cursor: pointer;
  background: rgba(251, 27, 61, 1);
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
}
.squareBtn{
  background-color: #FB1B3D;
  height: 55px;
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 108.5%;
  text-align: center;
  letter-spacing: 0.105em;
}
.input{
  background-color: transparent;
  padding: 25px 54px;
  width: 600px;
  border: 1px solid #FFFFFF;
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 108.5%;
  letter-spacing: 0.105em;
  resize: none;
}
body{
  background-color:  #131313;;
}

.home, .prices{
  .swiper-pagination-bullet{
    margin: 15px !important;
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color:#000;
    opacity: 1!important;
    background: #FFFFFF!important;
    &s{
      position: absolute;
      top: 50%;
      right: 50%;
      max-width: 4% !important;
      margin-left: 85vw;
      width: 90%!important;
      padding: 0 15px!important;
      //margin-bottom: 25%;
      transform: translateY(-30%);
      display: flex;
      align-items: flex-end;
      //z-index: 1!important;
      flex-direction: column;
    }
  }
  .swiper-pagination-bullet-active{
    color:red;
    background: red!important;
  }
}


@import 'src/Layout/Header/header';
@import 'src/pages/Home/home';
@import 'src/pages/Contacts/contact';
@import 'src/pages/About/about';
@import 'src/pages/Works/works';
@import 'src/pages/Prices/prices';
@import 'src/pages/Home/Design/design';